@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light: #FFFFFF;
    --color-dark: #020617;
    --primary-color: #6366F1;
    --secondary-color: #F43F5E;
}

.react {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}